{% extends "base.html" %}
{% block content %}
        <div class="container-fluid">
          <!-- <background -->
          <section id="showcase">
              <div id="container">
                  <h1>THE BEST PREDICTIONS FOR ASSURED WINNINGS DAILY</h1>
                  <p><font size="5"><u><b>DAILY TIP</b></u></font></p>
                  <table border="5" length="400" height="400">
                    <tr>
                      <th>DATE</th>
                      <th>TEAM</th>
                      <th>COUNTRY</th>
                      <th>TIP</th>
                      <th>ODD</th>
                      <th>RESULTS</th>
                    </tr>
                    <tr>
                      <th>01/01/19</th>
                      <th>chelsea vs liverpool</th>
                      <td>England</td>
                      <td>goal goal</td>
                      <td>1.79</td>
                      <td>both team scored<div>2-1</div></td>
                    </tr>
                    <tr>
                      <th>01/01/19</th>
                      <th>barcelona vs leganes</th>
                      <td>Spain</td>
                      <td>1 wins, over 2.5</td>
                      <td>1.68, 1.49</td>
                      <td>1 <div>over 2.5</div><div>4-1</div></td>
                    </tr>
                    <tr>
                      <th>01/01/19</th>
                      <th>psv vs utretch</th>
                      <td>Netherlands</td>
                      <td>1 wins</td>
                      <td>1.45</td>
                      <td>1<div>3-0</div></td>
                    </tr>
                    <tr>
                      <th>01/01/19</th>
                      <th>juventus vs AS Roma</th>
                      <td>Italy</td>
                      <td>1 wins</td>
                      <td>1.84</td>
                      <td>1<div>3-2</div></td>
                    </tr>
                    <tr>
                      <th>01/01/19</th>
                      <th>psg vs monaco</th>
                      <td>France</td>
                      <td>X2</td>
                      <td>1.68</td>
                      <td>X<div>1-1</div></td>
                    </tr>

                  </table>


              </div>

          </section>

        </div>


      <h1><u>ENGLISH PREMIER LEAGUE</u></h1>
      <table border="5" length="400" width="600">
      <tr>
        <th>DATE</th>
        <th>TEAM</th>
        <th>PREDICTION</th>
        <th>OUTCOME</th>
        <th>ODD</th>
      </tr>
      <tr>
        <th>01/02/19</th>
        <th>Mancity-liverpool</th>
        <td><font color="red">1</font></td>
        <td><font color="green">1.79</font></td>
        <td><font color="blue">2-1</font></td>
      </tr>
      <tr>
        <th>01/02/19</th>
        <th>Mancity-liverpool</th>
        <td><font color="red">1</font></td>
        <td><font color="green">1.79</font></td>
        <td><font color="blue">2-1</font></td>
      </tr>
      <tr>
        <th>01/02/19</th>
        <th>Mancity-liverpool</th>
        <td><font color="red">1</font></td>
        <td><font color="green">1.79</font></td>
        <td><font color="blue">2-1</font></td>
      </tr>
      <tr>
        <th>01/02/19</th>
        <th>Mancity-liverpool</th>
        <td><font color="red">1</font></td>
        <td><font color="green">1.79</font></td>
        <td><font color="blue">2-1</font></td>
      </tr>
      <tr>
        <th>01/02/19</th>
        <th>Mancity-liverpool</th>
        <td><font color="red">1</font></td>
        <td><font color="green">1.79</font></td>
        <td><font color="blue">2-1</font></td>
      </tr>
      <tr>
        <th>01/02/19</th>
        <th>Mancity-liverpool</th>
        <td><font color="red">1</font></td>
        <td><font color="green">1.79</font></td>
        <td><font color="blue">2-1</font></td>
      </tr>
      <tr>
        <th>01/02/19</th>
        <th>Mancity-liverpool</th>
        <td><font color="red">1</font></td>
        <td><font color="green">1.79</font></td>
        <td><font color="blue">2-1</font></td>
      </tr>
      <tr>
        <th>01/02/19</th>
        <th>Mancity-liverpool</th>
        <td><font color="red">1</font></td>
        <td><font color="green">1.79</font></td>
        <td><font color="blue">2-1</font></td>
      </tr>
      <tr>
        <th>01/02/19</th>
        <th>Mancity-liverpool</th>
        <td><font color="red">1</font></td>
        <td><font color="green">1.79</font></td>
        <td><font color="blue">2-1</font></td>
      </tr>
      <tr>
        <th>01/02/19</th>
        <th>Mancity-liverpool</th>
        <td><font color="red">1</font></td>
        <td><font color="green">1.79</font></td>
        <td><font color="blue">2-1</font></td>
      </tr>
    </table><br/>
      <h1><u>OTHER PREDICTIONS</u></h1>
        <table border="5" length="400" width="600">
        <tr>
          <th>DATE</th>
          <th>LEAGUE</th>
          <th>TEAM</th>
          <th>PREDICTION</th>
          <th>ODD</th>
          <th>RESULTS</th>
        </tr>
        <tr>
          <th>01/02/19</th>
          <th>laliga</th>
          <th>Mancity-liverpool</th>
          <td><font color="red">1</font></td>
          <td><font color="green">1.79</font></td>
          <td><font color="blue">2-1</font></td>
        </tr>
        <tr>
          <th>01/02/19</th>
          <th>laliga</th>
          <th>Mancity-liverpool</th>
          <td><font color="red">1</font></td>
          <td><font color="green">1.79</font></td>
          <td><font color="blue">2-1</font></td>
        </tr>
        <tr>
          <th>01/02/19</th>
          <th>laliga</th>
          <th>Mancity-liverpool</th>
          <td><font color="red">1</font></td>
          <td><font color="green">1.79</font></td>
          <td><font color="blue">2-1</font></td>
        </tr>
        <tr>
          <th>01/02/19</th>
          <th>laliga</th>
          <th>Mancity-liverpool</th>
          <td><font color="red">1</font></td>
          <td><font color="green">1.79</font></td>
          <td><font color="blue">2-1</font></td>
        </tr>
        <tr>
          <th>01/02/19</th>
          <th>laliga</th>
          <th>Mancity-liverpool</th>
          <td><font color="red">1</font></td>
          <td><font color="green">1.79</font></td>
          <td><font color="blue">2-1</font></td>
        </tr>
        <tr>
          <th>01/02/19</th>
          <th>laliga</th>
          <th>Mancity-liverpool</th>
          <td><font color="red">1</font></td>
          <td><font color="green">1.79</font></td>
          <td><font color="blue">2-1</font></td>
        </tr>
        <tr>
          <th>01/02/19</th>
          <th>laliga</th>
          <th>Mancity-liverpool</th>
          <td><font color="red">1</font></td>
          <td><font color="green">1.79</font></td>
          <td><font color="blue">2-1</font></td>
        </tr>
        <tr>
          <th>01/02/19</th>
          <th>laliga</th>
          <th>Mancity-liverpool</th>
          <td><font color="red">1</font></td>
          <td><font color="green">1.79</font></td>
          <td><font color="blue">2-1</font></td>
        </tr>
        <tr>
          <th>01/02/19</th>
          <th>laliga</th>
          <th>Mancity-liverpool</th>
          <td><font color="red">1</font></td>
          <td><font color="green">1.79</font></td>
          <td><font color="blue">2-1</font></td>
        </tr>
        <tr>
          <th>01/02/19</th>
          <th>laliga</th>
          <th>Mancity-liverpool</th>
          <td><font color="red">1</font></td>
          <td><font color="green">1.79</font></td>
          <td><font color="blue">2-1</font></td>
        </tr>
      </table><br/>
        <footer>
            <p><font size="5">taifabets.com</font>,copyright &copy; 2019</p>
        </footer>
  {% endblock %}
